.DS_Store
._.DS_Store
.idea
.vscode

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

config.json
config.json.bak

tsconfig.typecheck.tsbuildinfo

backend/src/socCalculationLog*
backend/config_pre_*
backend/for_influx.txt
