$bg-color: black;
$text-color: white;
@use "@depict-ai/plp-styling" with (
  $page-background-color: $bg-color,
  $search-modal-layout: "v2",
  $background-colors: (
    "base": (
      "default": $bg-color,
    ),
  ),
  $text-icon-colors: (
    "base": (
      "default": $text-color,
    ),
  ),
  $border-colors: (
    "base": (
      "default": #ededed,
    ),
  )
);

@media (prefers-color-scheme: dark) {
  @include plp-styling.default-theme("all");

  body {
    font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: $bg-color;
  }

  a {
    margin-right: 1rem;
    color: $text-color;
    text-decoration: underline !important;

    &:visited {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}
